<figure id='graphic'>
	{{#each books }}
		<div class='book' data-author='{{AuthorClean}}' data-contributor='{{AuthorMore}}' data-year='{{PubYear}}' data-title='{{TitleClean}}'>
			<h4 class='book__title'>{{TitleClean}}</h4>
		</div>
	{{/each}}
</figure>