<div class='intro'>
	<a href='https://pudding.cool' target='_blank' class='logo'>
		<img inline src='pudding/wordmark.svg'>
	</a>
	<p class='intro__divider'>presents</p>
	<h1 class='intro__hed-hipster'>{{doc.title1}}</h1>
	<h1 class='intro__hed-ribbon'><span class='intro__hed-text'>{{doc.title2}}</span></h1>
		<p class='intro__byline'>Artisanally Crafted by
			<a href='{{doc.author1URL}}' target='_blank'>
				{{doc.author1}}
			</a> & <a href='{{doc.author2URL}}' target='_blank'>
				{{doc.author2}}
			</a>
		</p>
	<div class='intro__prelude'>
		{{#each doc.prelude}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>
