<figure id='minimap'>
	<h3 class='minimap__hed'>{{{doc.minimapHed}}}</h3>
	<div class='minimap__container'>
		{{#each books }}
			<div class='book book--mini' data-author='{{AuthorClean}}' data-contributor='{{AuthorMore}}' data-year='{{PubYear}}' data-title='{{TitleClean}}'>
			</div>
		{{/each}}
	</div>
</figure>
