<figure id='minimap'>
	<h3>{{doc.minimapHed}}</h3>
	{{#each books }}
		<div class='book-mini' data-author='{{AuthorClean}}' data-contributor='{{AuthorMore}}' data-year='{{PubYear}}' data-title='{{TitleClean}}'>
		</div>
	{{/each}}
</figure>
