<aside id='sidebar'>
  <div class='sidebar__drawer'>
    <button class='drawer__toggle' role='switch' aria-checked='false'>
      <img inline src='filter.svg'>
      <img inline src='x.svg'>
    </button>
  </div>

  <h3 class='sidebar__hed'>{{doc.sidebarHed}}</h3>
  <div class='nav__date'>
    <h4>{{doc.navDateTitle}}</h4>
    <div class='nav__slider slider'></div>
  </div>

  <div class='nav__sort'>
    <h4>{{doc.navSortTitle}}</h4>
    {{#each doc.sortButtons}}
      <button class='nav__sort-button {{class}}' data-slug={{slug}}>{{text}}</button>
    {{/each}}
  </div>
</aside>
